footer {
    background-color: #ffffff;
    height: 60px;
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    /* border top 1px #CCCCCC */
    border-top: 1px solid #cccccc;
}
footer p {
    text-align: center;
}