div.container section {
    width: 100%;
    color: white;
    height: 70px;
    /* border 1px #DDDDDD with radius 4px */
    border: 1px solid #dddddd;
    border-radius: 4px;
    align-items: center;

}
div.container section button {
    float: right;
    font-size: 18px;
    width: 20%;
    height: 48px;
    background-color:#FF5A5F;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    /* center it vertically */
    margin-top: 10px;

}

/* change the opacity of button when hover */
div.container section button:hover {
    /* change the cursor to finger */
    cursor: pointer;
    opacity: 0.9;
}
