.filters {
    width: 100%;
    /* color: white; */
    height: 70px;
    /* border 1px #DDDDDD with radius 4px */
    border: 1px solid #dddddd;
    border-radius: 4px;
    display: flex;
    align-items: center;

}
div.container section button {
    float: right;
    font-size: 18px;
    width: 20%;
    height: 48px;
    background-color:#FF5A5F;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    /* center it vertically */
    /* margin-top: 10px; */

}

/* change the opacity of button when hover */
div.container section button:hover {
    /* change the cursor to finger */
    cursor: pointer;
    opacity: 0.9;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: 1px;
    border-right-color: #DDDDDD;
    border-right-style: solid;

}
.filters div {
    width: 25%;
}

.amenities {
    height: 100%;
    width: 25%;
    border-right: 1px;

}

h3 {
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 0px;
  }
  h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 3px;
  }
